.App {
  width: 100%;
  height: 100%;

} 

#alinhar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#principal {
  width: 606px;
  height: 606px;
  background-color: rgb(214, 214, 214);
  display: flex;
  flex-wrap: wrap;
}

.quadrados {
  width: 200px;
  height: 200px;
  background-color: gray;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quadrados:hover {
  background-color: rgb(201, 201, 201);
}

button {
  font-size: 30px;
  padding: 10px;
}

.circulo {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 50%;
}

.xis {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barraX{
  width: 120px;
  border: 2px solid black;
  position: absolute;
}

.barraX1 {
  transform: rotate(45deg);
}

.barraX2 {
  transform: rotate(-45deg);
}

#placar {
  width: 250px;
  height: 300px;
  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#placar1 {
  width: 200px;
  height: 150px;
  background-color: rgb(218, 216, 216);
  padding: 15px;
  font-size: 35px;
  text-align: center;
}

#placar button {
  width: 180px;
  font-size: 23px;
}

#placar div {
  margin-top: 10px;
  text-align: left;
  font-size: 30px;
}